.titulo-disney {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

/* SESSÃO DE CARDS */
.todosCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-disney {
  width: 220px;
  box-shadow: 0 0 2em#CECACA;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.corpoCards-disney {
  padding: 10px;
}
  
.corpoCards-disney p i {
    padding-right: 5px;
}

.corpoCards-disney p {
  padding-top: 10px;
  padding-bottom: 30px;
}
  
img {
  width: 220px;
  height: 220px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.valor-disney {
  font-weight: bold;
  font-size: 20px;
}
  
.botao-verPacote {
  background-color:#038DAC;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 5px 15px;
}

@media (min-width: 320px) {
  .cards-disney {
    margin-top: 15px;
  }
}






