.pacote-ferias {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
/* SESSÃO DE PROMOÇÃO */
.div-ferias {
    padding-right: 20px;
    width: 550px;
}
  
h1 {
  font-size: 40px;
}

.div-ferias span {
    padding-bottom: 30%;
}

.div-ferias i {
  padding-right: 5px;
}

.div-ferias h2{
    font-size: 30px;
    padding-top: 30px;
}

  /* SESSÃO DE CARDS */

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-pacote {
  width: 220px;
  box-shadow: 0 0 2em#CECACA;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.corpoCards {
  padding: 10px;
}
  
.corpoCards p i {
  padding-right: 5px;
}

.corpoCards p {
  padding-top: 10px;
  padding-bottom: 30px;
}
  
img {
  width: 220px;
  height: 220px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.valor {
  font-weight: bold;
}
  
.botao-verMais {
  background-color:#E55402;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 5px 15px;
}

@media (min-width: 320px) {
  .cards-pacote {
    margin-top: 15px;
  }

  .div-ferias {
    text-align: center;
  }
}